<form class="hunter sheet item martial">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" alt="{{item.name}}" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="武技名称" /></h1>
    </header>

    <div class="sheet-body">
        <div class="form-group">
            <label>消耗灵力值</label>
            <input type="number" name="system.mp_cost" value="{{system.mp_cost}}" min="0" placeholder="消耗的灵力值" />
        </div>

        <div class="form-group">
            <label>目标</label>
            <select name="system.target">
                <option value="single" {{#if (eq system.target "single")}}selected{{/if}}>单一</option>
                <option value="scene" {{#if (eq system.target "scene")}}selected{{/if}}>场景</option>
                <option value="any" {{#if (eq system.target "any")}}selected{{/if}}>任意</option>
            </select>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label>是否为强化</label>
                <input type="checkbox" name="system.is_enhanced" {{#if system.is_enhanced}}checked{{/if}} />
            </div>
            <div class="form-group">
                <label>是否为秘传</label>
                <input type="checkbox" name="system.is_secret" {{#if system.is_secret}}checked{{/if}} />
            </div>
        </div>

        <div class="form-group">
            <label>效果</label>
            <textarea name="system.effects" rows="4" placeholder="武技的效果描述">{{system.effects}}</textarea>
        </div>

        <div class="form-group">
            <label>描述</label>
            <textarea name="system.description" rows="6" placeholder="武技的详细描述">{{system.description}}</textarea>
        </div>
    </div>
</form>

