<form class="hunter sheet item soulweapon">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" alt="{{item.name}}" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="灵魂武器名称" /></h1>
    </header>

    <div class="sheet-body">
        <div class="form-group">
            <label>形态印记</label>
            <input type="text" name="system.form_mark" value="{{system.form_mark}}" placeholder="形态印记" />
        </div>

        <div class="form-group">
            <label>灵能印记</label>
            <input type="text" name="system.soul_mark" value="{{system.soul_mark}}" placeholder="灵能印记" />
        </div>

        <div class="form-group">
            <label>外形描述</label>
            <textarea name="system.appearance" rows="6" placeholder="灵魂武器的外形描述">{{system.appearance}}</textarea>
        </div>
    </div>
</form>
