<form class="hunter sheet item spell">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" alt="{{item.name}}" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="术法名称" /></h1>
    </header>

    <div class="sheet-body">
        <div class="form-group">
            <label>消耗灵力值</label>
            <input type="number" name="system.mp_cost" value="{{system.mp_cost}}" min="0" placeholder="消耗的灵力值" />
        </div>

        <div class="form-group">
            <label>目标</label>
            <select name="system.target">
                <option value="single" {{#if (eq system.target "single")}}selected{{/if}}>单一</option>
                <option value="scene" {{#if (eq system.target "scene")}}selected{{/if}}>场景</option>
                <option value="any" {{#if (eq system.target "any")}}selected{{/if}}>任意</option>
            </select>
        </div>

        <div class="form-group">
            <label>类型</label>
            <input type="text" name="system.type" value="{{system.type}}" placeholder="术法类型" />
        </div>

        <div class="form-group">
            <label>是否为秘传</label>
            <input type="checkbox" name="system.is_secret" {{#if system.is_secret}}checked{{/if}} />
        </div>

        <div class="form-group">
            <label>使用的技能进行判定</label>
            <select name="system.skill_check">
                <option value="athletics" {{#if (eq system.skill_check "athletics")}}selected{{/if}}>运动</option>
                <option value="operation" {{#if (eq system.skill_check "operation")}}selected{{/if}}>操作</option>
                <option value="stealth" {{#if (eq system.skill_check "stealth")}}selected{{/if}}>隐秘</option>
                <option value="investigation" {{#if (eq system.skill_check "investigation")}}selected{{/if}}>调查</option>
                <option value="insight" {{#if (eq system.skill_check "insight")}}selected{{/if}}>洞察</option>
                <option value="persuasion" {{#if (eq system.skill_check "persuasion")}}selected{{/if}}>说服</option>
                <option value="soulhunting" {{#if (eq system.skill_check "soulhunting")}}selected{{/if}}>狩魂学识</option>
            </select>
        </div>

        <div class="form-group">
            <label>效果</label>
            <textarea name="system.effects" rows="4" placeholder="术法的效果描述">{{system.effects}}</textarea>
        </div>

        <div class="form-group">
            <label>描述</label>
            <textarea name="system.description" rows="6" placeholder="术法的详细描述">{{system.description}}</textarea>
        </div>
    </div>
</form>
