<form class="hunter sheet item talent">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" alt="{{item.name}}" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="专长名称" /></h1>
    </header>

    <div class="sheet-body">
        <div class="form-group">
            <label>描述</label>
            <textarea name="system.description" rows="6" placeholder="专长的详细描述">{{system.description}}</textarea>
        </div>
    </div>
</form>
